<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
       
    <preference for="Codilar\Faq\Api\Data\FaqInterface" type="Codilar\Faq\Model\Faq" />
    <preference for="Codilar\Faq\Api\FaqRepositoryInterface" type="Codilar\Faq\Model\FaqRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
            	<!-- Data Source will be mentioned in listing xml -->
                <item name="faqtable_listing_data_source" xsi:type="string">Codilar\Faq\Model\ResourceModel\Faq\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Codilar\Faq\Model\ResourceModel\Faq\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
        	<!-- Table name to insert data and listing data -->
            <argument name="mainTable" xsi:type="string">faq_table</argument>
            <!-- Resource model name -->
            <argument name="resourceModel" xsi:type="string">Codilar\Faq\Model\ResourceModel\Faq</argument>
        </arguments>
    </virtualType>

</config>
