<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 Codilar. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Codilar\Faq\Api\Data\FaqInterface" type="Codilar\Faq\Model\Faq" />
    <preference for="Codilar\Faq\Api\FaqRepositoryInterface" type="Codilar\Faq\Model\FaqRepository"/>
    
    <virtualType name="Codilar\Faq\Model\ResourceModel\Faq\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">faq_table</argument>
            <argument name="resourceModel" xsi:type="string">Codilar\Faq\Model\ResourceModel\Faq</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="faqtable_listing_data_source" xsi:type="string">Codilar\Faq\Model\ResourceModel\Faq\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
